.recur-modal-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.recur-modal-div{
    margin-top: 10%;
    width: 600px;
}

.recur-close-icon{
    position: absolute;
    top: 5%;
    right: 5%;
}

.recur-modal-button-div{
    display: flex;
    justify-content: center;
}

.recur-modal-cancel{
    background-color: var(--rhood-green);
    color: white;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--global-gray);
    cursor: pointer;
    margin-top: 20px;
}

.recur-modal-cancel:hover{
    filter: contrast(80%);
}
