:root {
    --rhood-green: #00c805;
    --rhood-orange: #ff6a19;
    --global-border: 1px solid black;
    --global-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --global-orange-filter: invert(46%) sepia(94%) saturate(1974%) hue-rotate(349deg) brightness(102%) contrast(101%);
    --global-font-size: 17px;
    --global-gray: rgba(228, 228, 228, 0.611);
    --global-icon-bg-color: rgb(208, 235, 242);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold {
    font-weight: bold;
}

.flex-btwn {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
