.profile-dropdown {
  position: absolute;
  z-index: 2;
  background-color: white;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

/* Multi-class css -------------------------------------- */

.navhover:hover {
  filter: var(--global-orange-filter)
}

/* Nav css ----------------------------------------------- */

.nav-logo-search-container {
  display: flex;
}

.nav-logo-image {
  filter: brightness(0);
  width: 30px;
  height: 30px;
  margin: 10px 20px 0px 20px;
}

.nav-search {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 5px 0 0 10px;
  width: 40vw;
  height: 40px;
}

.fa-search {
  color: gray;
  padding: 5px 0px 0px 10px;

  width: 20px;
  height: 20px;
}

.nav-search-bar {
  border: none;
  height: 30px;
  width: 90%;
  outline: none;
}

/* Nav buttons css --------------------------------------- */

.nav-button-container {
  /* border: var(--global-border); */
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 330px;
  padding: 11px 0px 30px 0px;

}

.nav-investing {
  font-family: var(--global-font);
  font-size: var(--global-font-size);
}

.nav-notif{
  cursor: pointer;
}

.profile-account-btn {
  font-size: var(--global-font-size);
  font-family: var(--global-font);
  cursor: pointer;
}

/* search ------------------------------------- */

.search-dropdown{
  position: absolute;
  z-index: 1;
  background-color: white;
  /* border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray; */
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  width: 38vw;
  top: 55px;
  left: 90px;
}

.search-results{
  cursor: pointer;
  display: flex;
}

.search-ticker{
  width: 60px;
}

.search-divider{
  width: 20px;
  border-left: 1px solid black;
}
