.portfolio-page-container {
    display: flex;
    justify-content: center;

}

.portfolio-page-div {
    width: 1300px;
    display: flex;
}

.portfolio-info-div {
    width: 70%;
    /* border: var(--global-border); */
}

.portfolio-name {
    font-size: 30px;
}

.portfolio-price {
    font-size: 30px;
}

.portfolio-change {
    padding: 5px 0px;
}


/* Graph --------------------------------------------------- */
.portfolio-graph-div {
    padding-bottom: 0px;
}

/* Inv and Watchlist ---------------------------------------- */
.sticky {
    position: sticky;
    top: 0;
}

.stock-watchlist-component {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    height: 90vh;
    overflow-y: auto;
    /* border: var(--global-border); */
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    right: 1%;
}

.inv-watch-div {
    width: 90%;
}

.inv-watch-container {
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}

.list-header {
    border-bottom: 1px solid gray;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.watchlist-header {
    border-top: 1px solid gray;
    ;
}

/* Investment Card ---------------------------------------- */

.inv-list {
    padding: 10px 20px 10px 20px;
}

.inv-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}

.inv-card:hover {
    background-color: var(--global-gray);
    box-shadow: 1px 1px 5px lightgray;
}

.inv-chart-pic {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    /* border: var(--global-border); */
}

.inv-tick-share{
    width: 70px;
    /* border: var(--global-border); */
}

.stock-share-watch{
    font-size: 14px;
}

.inv-price-change{
    padding-left: 20px;
}



/* WatchList Card ---------------------------------------- */

.watch-list {
    padding: 10px 20px 10px 20px;
}

/* Buying power ------------------------------------------ */
.buy-power-div {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    font-size: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    cursor: not-allowed;
}

.coming-soon{
    font-size: 15px;
    color: gray;
}

.buy-power-div:hover {
    background-color: var(--global-gray);
}

/* News Card --------------------------------------------- */
.news-img {
    width: 150px;
    height: 100px;
}

.news-card {
    border-bottom: 1px solid gray;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.news-card:hover {
    background-color: var(--global-gray);
}

.news-info-div {
    padding-right: 30px;
}

.news-author {
    padding: 10px 0px;

}

.news-title {
    padding: 10px 0px;
}


.news-img-div {
    display: flex;
    align-items: center;
}

.news-img {
    border-radius: 10px;
}

/* Watchlist --------------------------------------------------------- */

.watchlist-name-div {
    width: 70%;
    display: flex;

}

.watchlist-icon {
    width: 20px;
    height: 20px;
    padding: 12px 5px;
    background-color: var(--global-icon-bg-color);
    border-radius: 5px;
}

.watchlist-icon-div {
    width: 15%;
}

.add-list-icon {
    margin-right: 3px;
    padding: 0px 7px 2px 7px;
}

.watchlist-input {
    border-top: 1px solid gray;
    background-color: rgba(211, 211, 211, 0.566);
    padding: 0px 15px;
    width: 85%;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    text-align: left;
}

.watchlist-input:hover {
    background-color: white;
}

.watchlist-input-error-div{
    position: absolute;
    z-index: 1;
    display: flex;
    border: 1px solid lightgray;
    width: 270px;
    height: 60px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    margin-top: 3px;
    padding: 5px;
    right: 55px;
}

.watchlist-info-icon {
    border: 3px solid black;
    font-size: 10px;
    padding: 0px 5px;
    margin-left: 8px;
    height: 15px;
    margin-top: 18px;
    border-radius: 100%;
}

.watchlist-info-text{
    margin-top: 8px;
    margin-left: 8px;
}

.watchlist-form {
    display: flex;
    flex-direction: column;
}

.form-icon {
    background-color: rgb(222, 222, 222);
}

.watchlist-form-div {
    display: flex;

}

.watchlist-form-btn-div {
    display: flex;
}

.watchlist-form-btn-space {
    width: 15%;
}

.watchlist-form-buttons {
    width: 85%;
}

.watchlist-btns {
    background-color: var(--rhood-green);
    border: 2px solid gray;
    box-shadow: 1px 1px 3px gray;
    border-color: gray;
    border-radius: 25px;
    color: white;
    height: 42px;
    margin-bottom: 25px;
    cursor: pointer;
}


.watchlist-cancel-btn {
    border-color: var(--rhood-green);
    width: 40%;
    background-color: white;
    color: var(--rhood-green);
    margin-right: 10px;
}

.watchlist-cancel-btn:hover {
    background-color: rgb(202, 202, 202);
}

.watchlist-create-btn {
    width: 50%;

}

.watchlist-create-btn:hover {
    filter: grayscale(20%);
}

/* Watchlist Display ------------------------------------------------ */

.watchlist-name {
    width: 80%;
    padding-top: 10px;
    padding: 10px 0px 0px 10px;
    overflow-x: hidden;
}

.watchlist-buttons-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.watchlist-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist-button {
    /* border: var(--global-border); */
    padding: 5px 2px 2px 5px;
    width: 20px;
    height: 20px;
}

.fa-ellipsis-h {
    margin-right: 2px;
}


.fa-chevron-up {
    margin-right: 2px;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}



.watchlist-card {
    width: 100%;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
    /* border: var(--global-border); */
}


.watchlist-card:hover {
    background-color: var(--global-gray);
    box-shadow: 1px 1px 5px lightgray;
}

.add-list-icon:hover,
.fa-ellipsis-h:hover {
    border-radius: 5px;
    background-color: var(--global-icon-bg-color);
}

.watchlist-card:hover .fa-chevron-up {
    color: var(--rhood-green);

}
.icon-rotate {
    transform: rotate(180deg);
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.watchlist-drop-options {
    border: var(--global-border);
    position: absolute;
    width: 200px;
    height: 90px;
    right: 70px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

.watchlist-drop-div {
    /* border: var(--global-border); */
    display: flex;
    align-items: center;
    margin: 10px 10px;
    height: 30px;
    border-radius: 5px;
}

.watchlist-drop-div:hover {
    background-color: var(--global-gray);
}

.watchlist-drop-icon {
    padding: 5px 8px 0px 0px;
    font-size: 15px;
}

.watchlist-modal-btn {
    text-align: left;
    border: none;
    font-size: 15px;
    font-family: var(--global-font);
    width: 100%;
    height: 100%;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
}

.watch-stock-ticker{
    display: flex;
    align-items: center;
    height: 100%;
}

/* chart buttons --------------------------- */
.stock-chart-btn-container{
    /* border: 1px solid black; */
    height: 30px;
}

.chart-btn{
    height: 100%;
    width: 40px;
    border: none;
    background-color: transparent;
    margin: 0px 18px 10px 0px;
    font-weight: bold;
    cursor: pointer;
}

.selected-period{
    color: var(--rhood-green);
    border-bottom: 3px solid var(--rhood-green);
}
