.recur-page-container{
    display: flex;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}

.recur-page-div{
    width: 1400px;
}

.recur-header-text{
    font-size: 30px;
}

.no-recur-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 100px 0px 30px 0px;
}

.no-recur-img{
    padding: 10px;
}

.no-recur-text{
    padding-bottom: 40px;
}

.recur-modal-button{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    color: white;
    border: 1px solid var(--global-gray);
    background-color: var(--rhood-green);
    cursor: pointer;
}

.recur-modal-button:hover{
    filter: contrast(80%);
}

/* recurring investment card ---------------------------------- */
.recur-card-container{
    width: 800px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 100px;
    border-bottom: 1px solid var(--global-gray);
    border-top: 1px solid var(--global-gray);
}

.show-recur-detail{
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px var(--global-gray);
    max-height: 600px;
}

.recur-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid var(--global-gray);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.recur-detail-div{
    padding: 30px 20px;
}

.recur-detail-text-div{
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.recur-detail-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    font-size: 25px;
    color: white;
    height: 55px;
    width: 55px;
    margin-right: 10px;
}
