.recur-page-container{
    display: flex;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}

.recur-page-div{
    width: 1400px;
}

.recur-header-text{
    font-size: 30px;
}

.no-recur-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 100px 0px 30px 0px;
}

.no-recur-img{
    padding: 10px;
}

.no-recur-text{
    padding-bottom: 40px;
}

.recur-modal-button{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    color: white;
    border: 1px solid var(--global-gray);
    background-color: var(--rhood-green);
    cursor: pointer;
}

.recur-modal-button:hover{
    filter: contrast(80%);
}

/* recurring investment card ---------------------------------- */
.recur-card-container{
    width: 800px;
    border-bottom: 1px solid var(--global-gray);
    border-top: 1px solid var(--global-gray);
}

.recur-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    border-bottom: 1px solid var(--global-gray);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.recur-detail-div{
    padding: 30px 10px;
}
