.transfer-page-container{
    display: flex;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}

/* Start a transfer section ---------------------------------------------------- */

.transfer-page-div{
    width: 1400px;
}

.transfer-header-text{
    font-size: 30px;
}

.transfer-button-div{
    padding: 10px 0px 30px 0px;
}

.transfer-button-money{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    border: 1px solid var(--global-gray);
    cursor: pointer;
    border-radius: 5px;
    height: 120px;
    width: 150px;
}

.transfer-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.fa-exchange-alt{
    color: white;
    font-weight: bold;
}

.transfer-button-text{
    margin: 8px;

}

/* Linked Accounts section ------------------------------------------------------ */

.linked-account-header{
    font-size: 30px;
    margin-bottom: 10px;
}

.linked-account-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--global-gray);
    width: 800px;
    padding: 30px 0px;
}

.linked-account-info-div{
    display: flex;
    align-items: center;
}

.linked-account-icon{
    font-size: 30px;
    padding: 0px 20px 0px 10px;
}

.account-info-bank{
    padding-bottom: 5px;
}

.account-info-linked-div{
    display: flex;
    align-items: center;
}

.account-info-verified{
    margin-right: 10px;
}

.account-unlink-button{
    font-size: 16px;
    background-color: white;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.add-account-button{
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 150px;
    color: var(--rhood-green);
    cursor: pointer;
}

.add-account-button:hover{
    filter: contrast(80%);
}

/* Unlink Modal CSS ---------------------------------------------------------------- */
.unlink-modal-container{
    display: flex;
    justify-content: center;
}

.unlink-modal-div{
    padding: 20px 30px 20px 30px;
    width: 400px;
}

.link-account-button {
    background-color: var(--rhood-green);
    width: 100%;
    border: 2px solid gray;
    box-shadow: 1px 1px 3px gray;
    border-color: gray;
    border-radius: 25px;
    color: white;
    height: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}

.unlink-modal-header{
    display: flex;
    justify-content: space-between;
}

.unlink-button{
    background-color: var(--rhood-orange);
    margin-top: 20px;
}

.cancel-unlink{
    background-color: var(--global-gray);
    color: black;
}

/* Completed Transfers section ------------------------------------------------------ */
.complete-transfer-header{
    font-size: 30px;
    width: 800px;
    padding: 25px 0px;
    border-bottom: 1px solid var(--global-gray);
}

.transfer-card-container{
    width: 800px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 105px;
    /* border: var(--global-border); */
}

.show-detail{
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px var(--global-gray);
    max-height: 250px;
}

.transfer-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin: 0px 0px;
    width: 780px;
    border-bottom: 1px solid var(--global-gray);
    border-top: 1px solid var(--global-gray);
    cursor: pointer;
}


.transfer-detail-div{
    display: flex;
    padding: 10px 10px;
}

.transfer-detail-left,
.transfer-detail-mid{
    padding-right: 150px;
}

.green-text{
    color: var(--rhood-green);
}

.red-text{
    color: var(--rhood-orange);
}
