.bank-modal-container{
    width: 450px;
    display: flex;
    justify-content: center;
}

.bank-modal-div{
    width: 400px;
    padding: 10px 0px;
}

.bank-modal-header{
    display: flex;
    justify-content: space-between;
}

.bank-modal-title{
    font-size: 25px;
    padding-bottom: 10px;
}

.bank-form-label{
    padding: 10px 0px;
}

.bank-form-field{
    width: 400px;
    height: 40px;
    border: 1px solid var(--global-gray);
    border-radius: 5px;
    padding: 5px;
}

.bank-form-field:hover{
    background-color: var(--global-light-gray);
}

.acct-num-input{
    height: 30px;
    width: 388px;
}

.link-account-button-div{
    width: 220px;
    margin-top: 70px;
}

.fa-lock{
    padding-right: 10px;
}
